<!DOCTYPE html>
<html>
<section>
	<head>
		<title>CocoHood</title>
		CocoHood
	</head>
</section>
	<body>
			<main>
				<h1>Welcome to CocoHood Family!</h1>

			<main/>
			<footer>Copyrights by CocoHood</footer>
	</body>
</html>
