// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background-color: #73d8ec;
  color: #FFFFFF;
}

footer {
  position: relative;
  width: 100%;
  margin-top: 2%;
}

.home-content {
  background-color: #73d8ec;
  color: #FFFFFF;
  text-align: center;
}

.login_signup_button {
  border: solid #909293 1px;
  background-color: #FFFFFF;
  color: #909293;
  padding: 0.5% 10%;
  margin: 1%;
}
